<app-community-header [communityName]="communityName" [communitySubtitle]="communitySubtitle"></app-community-header>

<app-community-navbar></app-community-navbar>

<div class="container mt-3 mb-3 px-3 px-sm-2">
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
  <app-card-post-feed></app-card-post-feed>
</div>
