<!-- Desktop -->
<ul class="navbar-nav d-none d-md-flex">
  <li class="nav-item">
    <a class="nav-link" routerLink="/c/feed" routerLinkActive="text-dark">Feed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/c/Sunrise" routerLinkActive="text-dark">Communities
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/p/pojntfx" routerLinkActive="text-dark">People</a>
  </li>
</ul>

<!-- Mobile Nav -->
<ul class="list-group d-md-none list-navigation-main">
  <a routerLink="/c/feed" class="list-group-item list-group-item-action d-flex align-items-center px-3" routerLinkActive="active-mobile text-dark">
    Feed
  </a>
  <a routerLink="/c/Sunrise" class="list-group-item list-group-item-action d-flex align-items-center px-3" routerLinkActive="active-mobile text-dark">
    Communities
  </a>
  <a routerLink="/p/pojntfx" class="list-group-item list-group-item-action d-flex align-items-center px-3" routerLinkActive="active-mobile text-dark">
    People
  </a>
</ul>
