<!-- Desktop -->
<ul class="navbar-nav d-none d-sm-flex">
  <li class="nav-item">
    <a class="nav-link" href="#">Feed</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="#">Communities
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">People</a>
  </li>
</ul>

<!-- Mobile Nav -->
<ul class="list-group d-sm-none list-navigation-main">
  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center px-3">
    Feed
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center px-3">
    Communities
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center px-3">
    People
  </a>
</ul>
