<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-8">
          <!-- Copyright/left notice -->
          <isf-footer-main-start></isf-footer-main-start>
        </div>
        <div class="col-12 col-sm-4 d-flex justify-content-sm-end">
          <!-- Link to Irasync's source code -->
          <isf-footer-main-end></isf-footer-main-end>
        </div>
      </div>
    </div>
  </div>
</nav>
