<ul class="navbar-nav">

  <!-- Mobile Navigation Menu -->
  <ng-template #navigationMenuMobile>
    <isf-navbar-nav-left></isf-navbar-nav-left>
  </ng-template>
  <button placement="bottom" type="button" container="body" class="d-inline-block d-sm-none btn btn-light ml-1" [ngbPopover]="navigationMenuMobile">
    <i class="ion ion-grid ml-sm-0 mr-sm-2"></i>
  </button>

  <!-- Post Button -->
  <li class="nav-item">
    <button class="btn btn-light ml-1">
      <i class="ion ion-android-add ml-sm-0 mr-sm-2"></i>
      <span class="d-none d-sm-inline-block">Post</span>
    </button>
  </li>

  <!-- User Menu -->
  <isf-navbar-nav-right-user-dropdown></isf-navbar-nav-right-user-dropdown>

</ul>
